<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/>
    </settings>

    <typeAliases>
        <package name="lovely.baby.online.mall.backstage.model"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="lovely.baby.online.mall.backstage.dao.mybatis.handler.OrderStatusTypeHandler"/>
    </typeHandlers>
</configuration>