<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/task
          http://www.springframework.org/schema/task/spring-task.xsd
           http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
             http://www.springframework.org/schema/context
              http://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
            <list>
                <value>classpath*:*.properties</value>
            </list>
        </property>
    </bean>

    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <context:component-scan
            base-package="lovely.baby.online.mall.backstage">
        <context:exclude-filter type="regex" expression="^lovely\.baby\.online\.mall\.demo\.web\..+$"/>
    </context:component-scan>

    <task:executor id="mallExecutor" pool-size="100" keep-alive="40" queue-capacity="1000"/>
    <task:annotation-driven executor="mallExecutor" proxy-target-class="true"/>

    <import resource="classpath*:spring/spring-datasource.xml"/>
    <import resource="classpath*:spring/spring-mybatis.xml"/>
</beans>
